//==============================================//
//===// Responsive layout - mobile section //===//
//==============================================//

@include mobile {
  //==================//
  //===// Header //===//
  //==================//

  //===// Header > Logo //===//

  .logo {
    &__text {
      font-size: 2rem;
    }

    &__icon {
      --heart-logo-size: 1.5rem;
    }
  }

  //================//
  //===// Main //===//
  //================//

  .card-box {
    .card {
      display: grid;
      gap: 0.5em;
      grid-template: repeat(5, 100px) / repeat(5, 100px);
      @include grid-template-areas;

      &__element {
        &__text {
          font-size: 1rem;
        }

        &__icon {
          --heart-size: 1.5rem;
        }

        &--ver {
          writing-mode: vertical-lr;
          text-orientation: upright;
        }
      }
    }
  }

  //==================//
  //===// Footer //===//
  //==================//

  //===// Footer > Content //===//

  .footer {
    &__link {
      &--icon {
        font-size: 2rem;
      }

      &--text {
        font-size: 1.5rem;
      }
    }
  }
}
