//======================//
//===// Animations //===//
//======================//

@keyframes logo-text-anim {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes logo-icon-anim-left {
  0% {
    opacity: 0;
    transform: translateX(30px);
  }

  5% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes logo-icon-anim-right {
  0% {
    opacity: 0;
    transform: translateX(-30px);
  }

  5% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes heart-beat {
  0%,
  100% {
    font-size: var(--heart-size);
  }

  50% {
    font-size: calc(var(--heart-size) * 1.05);
  }
}

@keyframes heart-beat-logo {
  0%,
  100% {
    font-size: var(--heart-logo-size);
  }

  50% {
    font-size: calc(var(--heart-logo-size) * 1.05);
  }
}
