//===========================================//
//===// Brakepoint (Responsive layouts) //===//
//===========================================//

$brake: (
  'mobile': 700px,
  'desktop': 1000px,
);

//=================//
//===// Fonts //===//
//=================//

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

$font: (
  'txt': (
    'Montserrat',
    sans-serif,
  ),
);

//==================//
//===// Colors //===//
//==================//

$color: (
  'txt': #2e2a2f,
  'bg': lighten(#d97c7e, 2.5%),
  'accent': darken(#d97c7e, 20%),
  'one': #d97c7e,
  'two': darken(#d97c7e, 2.5%),
  'three': darken(#d97c7e, 5%),
  'four': darken(#d97c7e, 7.5%),
  'five': darken(#d97c7e, 10%),
  'six': darken(#d97c7e, 12.5%),
  'seven': darken(#d97c7e, 15%),
  'eight': darken(#d97c7e, 17.5%),
  'nine': darken(#d97c7e, 20%),
);

//===================//
//===// Timings //===//
//===================//

$time: (
  /*0.4s*/ 'btn-anim-time': 0.4s,
  /*0.8s*/ 'logo-anim-time': 0.8s,
  /*0.6s*/ 'heart-show': 0.6s,
  /*1.2s*/ 'heart-beat': 0.6s,
  /*0.8s*/ 'anim-delay': 0.8s
);

//======================================//
//===// Exporting variables for js //===//
//======================================//

:root {
  --btn-anim-time: #{time(btn-anim-time)};
  --logo-anim-time: #{time(logo-anim-time)};
  --heart-show: #{time(heart-show)};
  --heart-beat: #{time(heart-beat)};
  --anim-delay: #{time(anim-delay)};
}
