//=================================================================================//
//===// Importing page default styling reset, variables, assets & transitions //===//
//=================================================================================//

@import './reset', './functions', './variables', './transitions';

//====================================================//
//===// Setting default page styling & scrollbar //===//
//====================================================//

body {
  background: color(bg);
  color: color(txt);
  font-family: font(txt);

  &::-webkit-scrollbar {
    width: 1rem;
  }

  &::-webkit-scrollbar-track {
    background: color(bg);
    margin: 0.08rem 0;
  }

  &::-webkit-scrollbar-thumb {
    background: color(accent);
    border: 3.25px solid color(bg);
    border-radius: 100px;
  }
}

//==================//
//===// Header //===//
//==================//

header {
  padding: 2em 0;
}

//===// Header > Logo //===//

.logo {
  text-align: center;

  &__text {
    position: relative;
    opacity: 0;
    font-size: 1.5rem;
    letter-spacing: 0.15em;
    transform: translateY(-100px);
    animation: logo-text-anim time(logo-anim-time) ease forwards;
    padding: 0 0.25em;
  }

  &__icon {
    position: relative;
    opacity: 0;
    color: color(accent);
    --heart-logo-size: 1.25rem;

    &:first-of-type {
      transform: translateX(30px);
      animation: logo-icon-anim-left time(heart-show) time(anim-delay) ease forwards,
        heart-beat-logo time(heart-beat) ease infinite;
    }

    &:last-of-type {
      transform: translateX(-30px);
      animation: logo-icon-anim-right time(heart-show) time(anim-delay) ease forwards,
        heart-beat-logo time(heart-beat) ease infinite;
    }
  }
}

//================//
//===// Main //===//
//================//

.card-box {
  display: grid;
  justify-content: center;
  place-items: center;

  .card {
    display: grid;
    gap: 0.5em;
    grid-template: repeat(5, 70px) / repeat(5, 70px);

    @include grid-template-areas;

    &__element {
      position: relative;

      &__text {
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: 0.75rem;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        transform: translate(-50%, -50%);
      }

      &__icon {
        position: absolute;
        top: 80%;
        left: 50%;
        --heart-size: 0.9rem;
        text-transform: uppercase;
        transform: translate(-50%, -80%);
        animation: heart-beat-card time(heart-beat) ease infinite;
      }

      &--ver {
        writing-mode: vertical-lr;
        text-orientation: upright;
      }

      &--hor {
        writing-mode: horizontal-tb;
        text-orientation: sideways;
      }

      &--first {
        grid-area: first;
        background: color(one);
      }

      &--second {
        grid-area: second;
        background: color(two);
      }

      &--third {
        grid-area: third;
        background: color(three);
      }

      &--fourth {
        grid-area: fourth;
        background: color(four);
      }

      &--fifth {
        grid-area: fifth;
        background: color(five);
      }

      &--sixth {
        grid-area: sixth;
        background: color(six);
      }

      &--seventh {
        grid-area: seventh;
        background: color(seven);
      }

      &--eighth {
        grid-area: eighth;
        background: color(eight);
      }

      &--ninth {
        grid-area: ninth;
        background: color(nine);
      }
    }
  }
}

//==================//
//===// Footer //===//
//==================//

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 0.5rem;
}

//===// Footer > Content //===//

.footer {
  &__link {
    color: color(accent);
    text-decoration: none;

    &--icon {
      background: color(bg);
      border-radius: 50%;
      font-size: 1.75rem;
    }

    &--text {
      opacity: 0;
      pointer-events: none;
      background: transparent;
      font-size: 1.25rem;
      margin-left: 0.2em;
      transition: opacity time(btn-anim-time) ease;
    }

    &:hover &--text {
      opacity: 1;
      pointer-events: all;
    }

    @include mouse-hover;
  }
}

//==========================================================//
//===// Importing responisve layout (mobile & desktop) //===//
//==========================================================//

@import './mobile', './desktop';
