//=================================================================================//
//===// Importing page default styling reset, variables, assets & transitions //===//
//=================================================================================//

@import './reset', './functions', './variables', './transitions';

//====================================================//
//===// Setting default page styling & scrollbar //===//
//====================================================//

body {
  background: color(bg);
  color: color(txt);
  font-family: font(txt);

  &::-webkit-scrollbar {
    width: 1rem;
  }

  &::-webkit-scrollbar-track {
    background: color(bg);
    margin: 0.08rem 0;
  }

  &::-webkit-scrollbar-thumb {
    background: color(accent);
    border: 3.25px solid color(bg);
    border-radius: 100px;
  }
}

header {
  padding: 2em 0;
}

.logo {
  text-align: center;
  position: relative;

  &__text {
    position: relative;
    font-size: 2.5rem;
    letter-spacing: 0.15em;
    display: inline-block;
    opacity: 0;
    transform: translateY(-100px);
    animation: logo-text-anim 0.8s ease forwards;
    padding: 0 0.1em;
  }

  &__icon {
    position: relative;
    font-size: 2rem;
    opacity: 0;
    color: color(accent);

    &:first-of-type {
      transform: translateX(30px);
      animation: logo-icon-anim-left 0.6s 0.7s ease forwards;
    }

    &:last-of-type {
      transform: translateX(-30px);
      animation: logo-icon-anim-right 0.6s 0.7s ease forwards;
    }
  }
}

.card-box {
  display: grid;
  justify-content: center;
  place-items: center;

  .card {
    display: grid;
    gap: 0.5em;
    grid-template: repeat(5, 70px) / repeat(5, 70px);
    grid-template-areas:
      'first first first first second'
      'fourth fifth fifth sixth second'
      'fourth eighth ninth sixth second'
      'fourth eighth seventh seventh second'
      'fourth third third third third';

    &__element {
      position: relative;

      &__text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 0.75rem;
        letter-spacing: 0.2em;
        text-transform: uppercase;
      }

      &__icon {
        position: absolute;
        top: 80%;
        left: 50%;
        transform: translate(-50%, -80%);
        font-size: 0.8rem;
        text-transform: uppercase;
      }

      &--ver {
        writing-mode: vertical-lr;
        text-orientation: upright;
      }

      &--first {
        grid-area: first;
        background: color(one);
      }

      &--second {
        grid-area: second;
        background: color(two);
      }

      &--third {
        grid-area: third;
        background: color(three);
      }

      &--fourth {
        grid-area: fourth;
        background: color(four);
      }

      &--fifth {
        grid-area: fifth;
        background: color(five);
      }

      &--sixth {
        grid-area: sixth;
        background: color(six);
      }

      &--seventh {
        grid-area: seventh;
        background: color(seven);
      }

      &--eighth {
        grid-area: eighth;
        background: color(eight);
      }

      &--ninth {
        grid-area: ninth;
        background: color(nine);
      }
    }
  }
}

//====================//
//===// Reusable //===//
//====================//

//==================//
//===// Header //===//
//==================//

//================//
//===// Main //===//
//================//

//==================//
//===// Footer //===//
//==================//

//==========================================================//
//===// Importing responisve layout (mobile & desktop) //===//
//==========================================================//

// @import './mobile', './desktop';
